body {
    margin: 0;
    background-color: lavender;
}
.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
    color: rgb(48, 43, 43);
}
.title {
    font-size: 60px;
    font-family: 'impact', 'fantasy';
}
.rps, #results {
    font-family: 'Georgia', 'serif';
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'impact', 'fantasy';
    gap: 1rem;
    color: rgb(48, 43, 43);
}
#scores {
    display: flex;
    font-size: 50px;
    gap: 2em;
    margin: 0px;
    color: rgb(48, 43, 43);
}
#results {
    font-weight: bold;
    font-size: 20px;
}
.img-container {
    display: flex; 
    justify-content: space-around;
    align-items: flex-end;
    padding: 50px;
}
img {
    width: 320px;
    height: auto;
    padding: 30px;
}
.picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    width: 150px;
    margin: 20px;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color:rgba(14, 167, 152, 0.453);
    border: solid rgb(3, 75, 38);
    border-radius: 6px;
    transition: 150ms;
}
.button:hover {
    font-size: 1.5rem;
    width: 170px;
    transform: scale(1);
}